<mat-toolbar color="primary">
    Login
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate [formGroup]="loginForm" ##fform="ngForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field>
            <input matInput formControlName="username" placeholder="Username" type="text" required>
            <mat-error *ngIf="formErrors.username">
                {{ formErrors.username }}
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput formControlName="password" placeholder="Password" type="password" required>
            <mat-error *ngIf="formErrors.password">
                {{ formErrors.password }}
            </mat-error>
        </mat-form-field>
    </p>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button mat-dialog-close color="primary" type="submit"
        [disabled]="loginForm.invalid">Login</button>
</form>