<div class="container" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="30px">
    <div></div>
    <mat-list *ngIf="tweets">
        <mat-list-item *ngFor="let tweet of tweets">
            <h3 matLine>@{{tweet.author}}</h3>
            <h4 matLine style="color:gray">#{{tweet.topic}} {{tweet.date | date}}</h4>
            <div matLine>
                <p style='max-width:500px;'>{{tweet.content}}</p>
            </div>
            <div matLine>
                <button mat-raised-button style="margin:5px">Delete</button>
                <button mat-raised-button style="margin:5px">Edit</button>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</div>